.portfolio li {
    display: inline-block;
    border: 2.5rem solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}

.portfolio img {
    width: 100%;
}
